body {
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/*font-size: 10px;*/
	/*color: #222222;*/
	padding: 0px;
  	margin: 0px;
}

hr {
    border: 0;
    height: 1px;
    background: #777777;
}

.boldtext {
    font-weight: bold;
    font-size: 10px;
}

.tagBorder {
	border: 1px solid #777;
	border-radius: 5px 5px;
	box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 11px;
	margin-top: 3px;
	margin-bottom: 3px;
}


/* footer */
.ui-notificationbar {
	position: fixed;
	width: 100%;
	height: 10px;
	display: none;
	padding: 2px;
}
.ui-notificationbar.ui-widget-content {
	border-top: 1px solid #989898;
	border-right: none;
	border-bottom: none;
	border-left: none;
	background: #FFFFFF;
	color: #222222;
	font-size: 11px;
}
body .ui-panelgrid .ui-panelgrid-cell {
    padding: 0.5rem;
}





